In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn.decomposition import NMF

In [4]:
df_flatten = pd.read_csv("flatten.csv",date_parser=["date"])

In [14]:
df_flatten["quantity"] = df_flatten["salesquantity"].map(np.ceil).astype('uint')

In [7]:
number_of_customer = df_flatten["csn"].nunique()
number_of_items = df_flatten["article"].nunique()

In [10]:
matrix_features = np.zeros((number_of_customer,number_of_items),dtype=np.uint)

In [11]:
matrix_features

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint64)

In [13]:
def get_user_idx(csn):
    return hash(csn) % number_of_customer
def get_article_idx(csn):
    return hash(csn) % number_of_items

In [15]:
for idx, item in df_flatten.iterrows():
    user_id = get_user_idx(item["csn"])
    item_id = get_article_idx(item["article"])
    matrix_features[user_id][item_id] = item["quantity"]

In [19]:
nmf = NMF(n_components=25).fit(matrix_features)

In [20]:
nmf.reconstruction_err_

2237.4480420013792

In [21]:
nmf.components_

array([[0.00000000e+00, 1.62410179e-07, 1.19793344e-08, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.05118542e-07, 2.62188737e-06, 0.00000000e+00, ...,
        1.13525997e-06, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [0.00000000e+00, 1.70815263e-03, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 8.66649957e-04, ...,
        0.00000000e+00, 1.21010659e-02, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 4.61754020e-03, 0.00000000e+00]])

In [23]:
X_reduce = nmf.transform(matrix_features)

In [24]:
X_reduce.shape

(20000, 25)

In [25]:
df_flatten

                 csn        date   article  salesquantity      price  quantity
0       Y2NgaWJoYw==  2018-03-02  10020163          2.000   18250.00         2
1       Y2NgaWJoYw==  2018-03-04  10026562          3.000   13000.00         3
2       Y2NgaWJoYw==  2018-03-04  10320883          2.000   43000.00         2
3       Y2NgaWlpYA==  2018-02-27  10013531          1.000   17800.00         1
4       Y2NgaWlpYA==  2018-02-27  10015613          1.000    5600.00         1
5       Y2NgaWlpYA==  2018-02-27  10320578          1.000    5600.00         1
6       Y2NgaWlpYA==  2018-02-27  10005247          4.000    6000.00         4
7       Y2NgaWlpYA==  2018-02-27  10319762          1.000  228000.00         1
8       Y2NgaWlpYA==  2018-02-27  10005236          4.000   13325.00         4
9       Y2NgaWlpYA==  2018-02-27  10005249          4.000    6200.00         4
10      Y2NgaWlpYA==  2018-02-27  10009695          1.000   81900.00         1
11      Y2NgaWlpYA==  2018-02-27  10009696          1.000   79100.00         1
12      Y2NgaWlpYA==  2018-02-27  10010450          1.000  295000.00         1
13      Y2NgaWlpYA==  2018-02-27  10010461          2.000    3900.00         2
14      Y2NgaWlpYA==  2018-02-27  10014841          1.000   27800.00         1
15      Y2NgaWlpYA==  2018-02-27  10014847          1.000   40700.00         1
16      Y2NgaWlpYA==  2018-02-27  10083191          1.000    6800.00         1
17      Y2NgaWlpYA==  2018-02-27  10319094          1.000   88500.00         1
18      Y2NgaWlpYA==  2018-02-27  10321475          1.000  277000.00         1
19      Y2NgaWlpYA==  2018-02-27  10404700          1.000  160000.00         1
20      Y2NgaWlpYA==  2018-03-16  10008991          1.000   57000.00         1
21      Y2NgaWlpYA==  2018-03-16  10010168          1.000   83000.00         1
22      Y2NgaWlpYA==  2018-03-16  10010450          1.000  295000.00         1
23      Y2NgaWlpYA==  2018-03-16  10319093          1.000   56000.00         1
24      Y2NgaWlpYA==  2018-03-16  10319094          2.000   88500.00         2
25      Y2NgaWlpYA==  2018-05-24  10009698          1.000   48900.00         1
26      Y2NgaWlpYA==  2018-05-24  10009701          1.000   48900.00         1
27      Y2NgaWlpYA==  2018-05-24  10319093          5.000   56000.00         5
28      Y2NgaWlpYA==  2018-05-24  10319096          2.000   54000.00         2
29      Y2NgamRpZA==  2018-02-01  10010116          1.000   66900.00         1
...              ...         ...       ...            ...        ...       ...
993482      amxpamJk  2018-03-24  10314277          1.000   37300.00         1
993483      amxpamJk  2018-03-24  10025773          1.000   42000.00         1
993484      amxpamJk  2018-03-24  10123068          1.000   26000.00         1
993485      amxpamJk  2018-04-07  10012785          1.000   48000.00         1
993486      amxpamJk  2018-04-07  10019005          3.000   49000.00         3
993487      amxpamJk  2018-04-21  10083185          1.000    7000.00         1
993488      amxpamJk  2018-04-21  10053361          0.166  499897.59         1
993489      amxpamJk  2018-04-21  10015741          1.000   18300.00         1
993490      amxpamJk  2018-04-21  10303026          1.000   22600.00         1
993491      amxpamJk  2018-04-21  10010069          1.000   37900.00         1
993492      amxpamJk  2018-04-21  10010456          1.000   16600.00         1
993493      amxpamJk  2018-04-21  10013669          1.000   36600.00         1
993494      amxpamJk  2018-04-21  10053904          1.000   51200.00         1
993495      amxpamJk  2018-04-21  10316262          1.000   18000.00         1
993496      amxpamJk  2018-05-20  10054789          0.506   38899.21         1
993497      amxpamJk  2018-05-20  10053664          0.314  126901.27         1
993498      amxpamJk  2018-05-20  10053361          0.092  579902.17         1
993499      amxpamJk  2018-05-20  10005323          4.000    6200.00         4
993500      amxpamJk  2018-05-20  10009163          1.000   25000.00         1
993501      amxpamJk  2018-05-20  10010075          1.000   45800.00         1
993502      amxpamJk  2018-05-20  10013307          1.000   54400.00         1
993503      amxpamJk  2018-05-20  10053905          0.248   30201.61         1
993504      amxpamJk  2018-05-20  10083185          1.000    9000.00         1
993505      amxpamJk  2018-05-20  10086502          4.000    6400.00         4
993506      amxpamJk  2018-05-20  10224131          1.000   12700.00         1
993507      amxpamJk  2018-05-20  10225636          0.182   51500.00         1
993508      amxpbWNk  2018-04-11  10016399          2.000   57700.00         2
993509      amxpbWNk  2018-04-11  10016834          1.000   97000.00         1
993510      amxpbWNk  2018-04-11  10018739          1.000   82500.00         1
993511      amxpbWNk  2018-04-11  10033742          1.000   10500.00         1

[993512 rows x 6 columns]